**/.DS_Store
**/.vscode
2_semester/NLP (Knowledge Based Systems and Language Technology)/laboratory_2/embeddings/corola_words.300.20.vec
2_semester/NLP (Knowledge Based Systems and Language Technology)/laboratory_2/embeddings/corola_lemma.300.50.vec
2_semester/NLP (Knowledge Based Systems and Language Technology)/laboratory_2/embeddings/corola_pos.300.50.vec

